// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Akony";
  src: font-url('AKONY.otf');
  src: font-url('AKONY.woff') format('woff'),
       font-url('AKONY.ttf') format('truetype')
}
$akony-font: "Akony";

@font-face {
  font-family: "Kreadon";
  src: font-url('Kreadon-Regular.otf');
  src: font-url('Kreadon-Regular.woff2') format('woff'),
       font-url('Kreadon-Regular.ttf') format('truetype')
}
$kreadon-font: "Kreadon";
