.collection-summary {
  background-color: black;
  display: flex;
  border-bottom: 1px solid white;
  height: 100px;
}

.collection-summary-block {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.collection-summary-block .title {
  color: white;
  align-content: flex-start;
  padding-left: 1rem;
}

.collection-summary-block .content {
  flex-grow: 0.9;
  text-align: center;
  color: white;
  background-color: grey;
}

.border-left {
  border-left: 1px solid white;
}


.collection-listing {

}

.collection-missing {
  margin-top: 2rem;
  margin-bottom: 2rem;

}
