.collection-bg {
  height: 100vh;
  background-image: asset-url("background/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.collection {
  display: flex;
  flex-direction: column;
  // max-height: calc(100vh - 4rem);
  height: 100vh;
  max-width: 400px;
}

.collection-summary {
  // background-color: black;
  display: flex;
  border-bottom: 1px solid white;

}

.summary-title {
  color: white;
  padding-left: 13px;
}

.collection-summary-block {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.collection-summary-block .title {
  color: white;
  align-content: flex-start;
  padding-left: 1rem;
  font-size: 15px;
  // padding-bottom: 5px;
}

.collection-summary-block .content {
  // flex-grow: 0.9;
  text-align: center;
  color: white;
  font-size: 36px;
  padding-top: 7px;
  margin-bottom: 7px;
  // background-color: grey;

}

.border-left {
  border-left: 1px solid white;
}

.collection-listing {
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  color: white;
  overflow: scroll;
  // max-height: calc(100vh - 200px);

}

.collection-missing {
  margin-bottom: 1rem;
  color: white;
}

// ↓↓↓ updated by roxie ↓↓↓
.title {
  text-transform: capitalize;
  // border-bottom: 1px solid white;
  font-weight: bold;
  font-size: 15px;
}

.infos {
  padding-top: 5px;
}

.l-card {
  margin-bottom: 7px;
  height: 115px;
}

.l-card img {
  margin: auto;

}

.l-card-content {
  padding-top: 3px;
}
