.collection-bg {
  height: 100vh;
  background-image: asset-url("background/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.collection {
  display: flex;
  flex-direction: column;
  // max-height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
}

.collection-summary {
  // background-color: black;
  display: flex;
  border-bottom: 1px solid white;
}

.collection-summary-block {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.collection-summary-block .title {
  color: white;
  align-content: flex-start;
  padding-left: 1rem;
  font-size: 16px;
}

.collection-summary-block .content {
  flex-grow: 0.9;
  text-align: center;
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
  // background-color: grey;
}

.border-left {
  border-left: 1px solid white;
}


.collection-listing {
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  color: white;
  overflow: scroll;
  // max-height: calc(100vh - 200px);
}

.collection-missing {
  margin-bottom: 5.5rem;
  color: white;
}

.collection-title {
  padding-left: 1rem;
}
