/* Set background image properties */
.display-cards-bg {
  background-image: asset-url("background/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Center align everything */
/* Card container styling */
.display-cards-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text */
  max-height: 100vh;

  background-color: rgba(250, 250, 250, 0.3);
  box-sizing: border-box;
  width: 90%; /* Fixed width or percentage */
  margin: auto;
  position: relative;
  color: #fafafa;
  font-family: $kreadon-font;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 20px; /* Border radius */
}

/* Flip card and +Add to gallery on left and right */
.display-cards-buttons {
  // margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-cards-buttons button {
  margin: 0 10px; /* Adjust space between buttons */
  border: none; /* Remove border */
  background-color: transparent; /* Remove background color */
  padding: 20px; /* Remove padding */
  outline: none; /* Remove outline */
}

/* Add space between icon and button text */
.display-cards-buttons button .button-text::before {
  content: "\00a0"; /* Insert space */
}

/* Title styling */
.display-cards-title {
  font-size: 18px;
  padding: 20px;
}

/* Image styling */
.display-cards-pic img {
  width: 100%; /* Set image width to fill parent container */
  height: auto; /* Maintain aspect ratio */
}

.display-detailcards-pic-back {
  width: 100%;
}

.display-detailcards-pic-back img {
  width: 50%; /* Set image width to fill parent container */
  height: auto; /* Maintain aspect ratio */
}

/* Info section styling */
.display-cards-info {
  width: 100%; /* Info section width */
}

/* Responsive image size adjustment */
@media screen and (max-width: 768px) {
  .display-cards-pic img {
    max-width: 50%; /* Limit image width on smaller screens */
  }
}

.vertical-line {
  border-left: 1px solid rgb(250, 250, 250);
  height: 100px; /* Adjust height as needed */
  margin: 0 10px; /* Adjust margin as needed */
}

/* Horizontal line styling */
.horizontal-line {
  border-top: 1px solid #ffffff; /* Set color of the horizontal line */
  margin: 20px 0; /* Adjust margin as needed */
}

.btn {
  color: white;
}

.btn:focus, .btn:active {
  color: white;
}

/* Flip card container */
.flip-container {
  perspective: 1000px; /* Add perspective for the 3D effect */
}

/* flip speed goes here */
.flipper {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

/* Card front and back */
.flip-dcard-front,
.flip-dcard-back {
  position: absolute; /* Set position to absolute */
  // top: 0; /* Align to the top */
  // left: 0; /* Align to the left */
  // width: 100%; /* Set width to fill parent container */
  // height: 100%; /* Set height to fill parent container */
  backface-visibility: hidden; /* Hide the back face by default */
}

/* Back face of the card */
.flip-dcard-back {
  transform: rotateY(180deg); /* Initially rotate to show the back face */
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
}

.flip-dcard-front {
  z-index: 1;
}

.object-content {
  overflow: scroll;
  max-height: 260px;
}

.object-front-content {
  overflow: scroll;
  max-height: 280px;
}

.content-front {
  color: white;
  text-align: left;

  .cf-title {
    font-size: 16px;
  }

  .cf-content {
    padding-left:1rem;
    font-size: 18px;
    font-weight: bold;
  }

  .red-content {
    color: red;
  }

  .blue-content {
    color: aqua;
  }
}
