// General styles
.body-forgetpw {
  background-image: asset-url("background/background2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.container-forgetpw {
  max-width: 400px;
  margin: auto;
}
