.gallery-bg {
  height: 100vh;
  background-image: asset-url("background/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery {
  display: flex;
  flex-direction: column;
  // max-height: calc(100vh - 56px);
  height: 100vh;
  // margin-left: 1rem;
}

.gallery .title {
  color: white;
  padding-left: 1rem;
  font-size: 16px;
  margin-bottom: 1rem;
}

.gallery-cards {
  flex-grow: 1;
  overflow: scroll;
}

.gallery .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.gallery-supports {
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  // width: 170px;
}

.support-list {
  display: flex;
  align-items: center;
  border: 1px solid white;
  background-color: black;
  color: white
}

.support-list img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.support-list .title {
  padding-left: 1rem;
  flex-grow: 1;
}

.support-list-delete {
  height: 40px;
}

.custom-dropdown {
  background-color: transparent;
  border: 1px solid #ccc;
  color: white;
  width: 170px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 35px;
  box-sizing: border-box;
}

.custom-delete {
  border: 1px solid red;
}

.custom-dropdown .dropdown-toggle {
  background-color: rgba(255, 255, 255, 0.2);
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 35px;
  width: 170px;
}

.custom-dropdown .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  width: 170px;
}
