.gallery-bg {
  height: 100vh;
  background-image: asset-url("background/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery {
  display: flex;
  flex-direction: column;
  // max-height: calc(100vh - 56px);
  height: 100vh;
  // margin-left: 1rem;
}

.gallery .title {
  color: white;
  padding-left: 1rem;
  font-size: 16px;
  margin-bottom: 1rem;
}

.gallery-cards {
  flex-grow: 1;
  overflow: scroll;
}

.gallery .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.gallery-supports {
  margin-bottom: 1rem;
  color: white;
}

.support-list {
  display: flex;
  align-items: center;
  background-color: black;
  border: 1px solid white;
  color: white
}

.support-list img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.support-list .title {
  padding-left: 1rem;
  flex-grow: 1;
}
