.cancel-account-button {
  background-color: transparent;
  border: 0;
  color: white;
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 35px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.2);
  height: 46px;
}

.unhappy {
  padding-top: 20px;
  color: white;
}
