<div class="hp-button">
  <%= render "shared/navbar" %>
  <i class="fas fa-home"></i> Collection<br>
  <i class="fas fa-bell"></i> Gallery<br>
  <i class="fas fa-user"></i> Ranking<br>
</div>

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= @response %>
