<nav class="top-right ">
	<%= link_to "Log out", destroy_user_session_path,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'disc l1' %>
	<a class="disc l2">
		<div>Gallery Ranking</div>
	</a>
	<a class="disc l3">
		<div>My Collection</div>
	</a>
	<a class="disc l4">
		<div>My Gallery</div>
	</a>
  <a class="disc l5">
		<div>Profile</div>
	</a>
  <% if user_signed_in? %>
    <% if current_user.avatar.attached? %>
      <%= image_tag url_for(current_user.avatar), class: 'avatar-small disc l6 toggle' %>
    <% else %>
      <%= image_tag "objects/unknow card.png", alt:'Profile Picture', class: 'avatar-small disc l6 toggle' %>
    <% end %>
  <% else %>
  <% end %>
</nav>




<script>
  toggle = document.querySelectorAll(".toggle")[0];
  nav = document.querySelectorAll("nav")[0];
  toggle_open_text = 'Menu';
  toggle_close_text = 'Close';

  toggle.addEventListener('click', function() {
    nav.classList.toggle('open');

    if (nav.classList.contains('open')) {
      toggle.innerHTML = toggle_close_text;
    } else {
      toggle.innerHTML = toggle_open_text;
    }
  }, false);

  document.addEventListener("DOMContentLoaded", function() {
    const menu = document.getElementById("menu");
    const openMenu = document.getElementById("open-menu");
    const closeMenu = menu.querySelector(".menu-button.icon-minus");

    openMenu.addEventListener("click", function() {
        menu.classList.add("open");
    });

    closeMenu.addEventListener("click", function() {
        menu.classList.remove("open");
    });
});
</script>
