<div class="container">
  <div class="collection-summary">
    <div class="collection-summary-block">
      <div class="title">
        <p>Title 1</p>
      </div>
      <div class="content">
        <h3>101</h3>
      </div>
    </div>
    <div class="collection-summary-block">
      <div class="title border-left">
          <p>Title 2</p>
        </div>
        <div class="content border-left">
          <h3>202</h3>
        </div>
    </div>
  </div>
  <div class="collection-listing">
  </div>
  <div class="collection-missing">
  </div>
</div>
