<div class="hp-button">
  <%= render "shared/navbar" %>
  <div id="hp-container">
    <p class="hp-text1"><a href="collection.html">Collection</a></p>
  </div>
  <div id="hp-container">
    <p class="hp-text2"><a href="gallery.html">Gallery</a></p>
  </div>
  <div id="hp-container">
    <p class="hp-text3"><a href="ranking.html">Ranking</a></p>
  </div>
</div>
