<body class="body">
  <button onclick="location.href='page1.html'"><i class="fas fa-home"></i> Collection</button><br>
  <button onclick="location.href='page2.html'"><i class="fas fa-bell"></i> Gallery</button><br>
  <button onclick="location.href='page3.html'"><i class="fas fa-user"></i> Ranking</button><br>
</body>
