<div class="ranking-bg">
  <%= render "shared/navbar" %>
  <div class="container ranking">
    <div class="collection-summary">
      <div class="collection-summary-block">
        <div class="title">
          My ranking this week
        </div>
        <div class="content">
          <%= @ranking %>
        </div>
      </div>
      <div class="collection-summary-block">
        <div class="title border-left">
            Best ranked
        </div>
        <div class="content border-left">
          <%= @bestrank %>
        </div>
      </div>
    </div>
    <div class="ranking-listing">
      <p class="ranking-title">Best galleries of the week</p>
      <div class="ranking-cards">
  </div>
</div>
